.case-section{
    height:550px!important;
}
.Service-section>h1{
    margin-top:50px
}
.snappy,.easy,.uber{
    height:360px!important;
    margin-top:40px;
    width:350px;
    background: #FFFFFF;

}

.snappy{
    margin-left:120px
}
.easy{
    margin-left:50px
}
.uber{
    margin-left:-20px
}


.snappy>p,.easy>p{
   margin-top:20px 
}
.uber>p{
    margin-top: 20px;
}

.story{
    font-family: 'Noto Sans'!important;
font-style: normal;
font-weight: 700!important;
font-size: 16px!important;
line-height: 22px;
/* identical to box height */


color: #3486EB!important;
background: #FFFFFF!important;
border: 1px solid #3285EA!important;
border-radius: 5px!important;
margin-top:15px!important;
height:50px;
width:170px;
text-transform: capitalize!important
}
.story:hover{
    background: linear-gradient(180deg, #3385EA 0%, #3081E6 100%)!important;
    border: 1px solid #3285EA;
    box-shadow: 0px 3px 30px rgba(52, 134, 235, 0.22);
    border-radius: 5px;
    color:white!important
}

.snappy>div{
    background: #FDB820;
    box-shadow: 0px 15px 60px rgba(255, 223, 153, 0.3);
    border-radius: 15px;
    width:230px;
    height:120px;
    margin-left:55px
}
.easy>div{
    background: #FF6600;
box-shadow: 0px 15px 60px rgba(255, 186, 139, 0.3);
border-radius: 15px;
width:230px;
    height:120px;
    margin-left:55px
}
.uber>div{
    background: #000000;
box-shadow: 0px 15px 60px rgba(175, 170, 197, 0.3);
border-radius: 15px;
width:230px;
    height:120px;
    margin-left:55px
}
.uber>div>img,.easy>div>img,.snappy>div>img{
    margin-top:35px
}

.snappy>h3,.easy>h3,.uber>h3{
    font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height, or 118% */

text-align: center;
letter-spacing: 0.1px;

color: #000000;
}

@media(max-width:780px){
    .case-section{
        height:1350px!important
    }
    .snappy,.easy,.uber{
        height:350px!important;
        margin-top:40px;
        width:350px;
        margin-left:-10px
    }
    .case-section>h1{
        margin-top:50px;
        margin-right:30px
    }
    .case-section>p{
        margin-left:10px;
        margin-right:50px
    }
}